.home__help {
    background-color: white;
    padding: 40px 0 50px 0;

    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.7rem;
        margin: 20px 0 10px 0;
    }

    p {
        font-size: 1.2rem;
        padding: 0 5px;
    }

    img {
        margin-top: 20px;
    }

    .home__help__container {
        display: flex;
        flex-direction: column;

        @media (min-width: 800px) {
            flex-direction: row;
        }
    }
}