.home__header {
    a {
        text-decoration: none;
        color: inherit;
        border: 1px solid black;
        margin: 10px;
        padding: 5px;
        display: block;
    }

    h2 {
        font-size: 1.8rem;
        margin: 20px;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    .home__header__login {
        display: flex;
    }

    .home__header__navigation {
        display: flex;
    }

    .home__header__main__buttons {
        display: flex;
    }
}