.home__buttons {
    background-color: white;
    display: flex;
    justify-content: center;

    a {
        font-size: 2rem;
        text-decoration: none;
        color: inherit;
        border: 1px solid black;
        margin: 30px 15px 30px 15px;
        padding: 10px;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}