.home__header {
    background-color:  white;

    a {
        text-decoration: none;
        color: inherit;
        border: 1px solid transparent;
        margin: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 0.3s ease;
    }

    a:hover {
        border: 1px solid black;
        transform: scale(1.08);
    }

    .banner {
        width: 60%;
        display: none;

        @media (min-width: 920px) {
            display: block;
        }
    }

    h2 {
        font-size: 2rem;
        padding: 20px;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    .home__header__login, .home__header__navigation {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .home__header__main__buttons {
        display: flex;
    }
}

.home__header__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}