.home__columns {
    background-color: $color-yellow;
    padding: 20px 0;

    .container {
        display: flex;
    }

    .home__columns__tile {
        padding: 0 5px;
        flex-basis: 33.3333%;

        .big {
            font-size: 3.5rem;
            margin-bottom: 15px;
        }

        .medium {
            font-size: 1.2rem;
            margin-bottom: 15px;
        }
    }
}