@import 'settings/colors';
@import 'settings/fonts';
@import 'settings/reset';
@import 'components/Home';

body {
    font-family: $font-base;
    background-color: $color-white;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

.hidden {
    display: none;
}

.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}